In [294]:
import pandas as pd
import numpy as np

In [295]:
df = pd.read_csv("tic_tac_toe_dataset.csv")
df.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,0
1,x,x,x,x,o,o,o,x,o,0
2,x,x,x,x,o,o,o,o,x,0
3,x,x,x,x,o,o,o,b,b,0
4,x,x,x,x,o,o,b,o,b,0

In [296]:
train_data = pd.read_csv("train.csv")

In [297]:
train_data.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class,Id
0,x,x,x,x,o,o,x,o,o,0,0
1,x,x,x,x,o,o,o,x,o,0,1
2,x,x,x,x,o,o,o,b,b,0,3
3,x,x,x,x,o,b,o,b,o,0,7
4,x,x,x,x,o,b,b,o,o,0,8

### Fixing Id as Index

In [298]:
train_data.set_index(train_data.Id, inplace=True)
del train_data['Id']
train_data.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
Id,,,,,,,,,,
0,x,x,x,x,o,o,x,o,o,0
1,x,x,x,x,o,o,o,x,o,0
3,x,x,x,x,o,o,o,b,b,0
7,x,x,x,x,o,b,o,b,o,0
8,x,x,x,x,o,b,b,o,o,0

### Treating data for better results

In [299]:
train_data.replace('x', 1, inplace=True)
train_data.replace('o', 0, inplace=True)
train_data.replace('b', 2, inplace=True)

In [300]:
train_data.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
Id,,,,,,,,,,
0,1,1,1,1,0,0,1,0,0,0
1,1,1,1,1,0,0,0,1,0,0
3,1,1,1,1,0,0,0,2,2,0
7,1,1,1,1,0,2,0,2,0,0
8,1,1,1,1,0,2,2,0,0,0

### Splitting into test and train

In [301]:
x = train_data.iloc[:,:9]
y = train_data.iloc[:,9:10]

In [302]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.25, random_state=1, shuffle=True)

## Logistic Regression

In [303]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(xtrain, ytrain)

/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [304]:
from sklearn.metrics import accuracy_score
ypred = lr.predict(xtest)
print("Accuracy with Logistic Regression: ",accuracy_score(ytest, ypred) * 100, "%")

Accuracy with Logistic Regression:  72.89156626506023 %

## KNN Classification

In [305]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5, p=1)
knn.fit(xtrain, ytrain)
ypred = knn.predict(xtest)
print("Accuracy with KNN: ",accuracy_score(ytest, ypred) * 100, "%")

Accuracy with KNN:  90.36144578313254 %

/opt/homebrew/lib/python3.11/site-packages/sklearn/neighbors/_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

## NaiveBayes

In [306]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(xtrain, ytrain)
ypred = nb.predict(xtest)
print("Accuracy with NaiveBayes: ",accuracy_score(ytest, ypred) * 100, "%")

Accuracy with NaiveBayes:  73.49397590361446 %

/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## RandomForest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=200)
rfc.fit(xtrain,ytrain)

/var/folders/nk/ln22svl57cz_cvk82jt3d1kh0000gn/T/ipykernel_9140/2314958644.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(xtrain,ytrain)

RandomForestClassifier(n_estimators=200)

In [ ]:
ypred = rfc.predict(xtest)

In [283]:
rfc.score(xtrain, ytrain), rfc.score(xtest,ytest)
print("Accuracy with Ranfom Forest: ",rfc.score(xtest, ytest) * 100, "%")

Accuracy with Ranfom Forest:  96.98795180722891 %

# Testing with Kaggle Provided TEST data

In [ ]:
test_data = pd.read_csv("test.csv")

In [ ]:
test_data.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,Id
0,x,x,x,x,o,o,o,o,x,2
1,x,x,x,x,o,o,b,o,b,4
2,x,x,x,x,o,o,b,b,o,5
3,x,x,x,x,o,b,o,o,b,6
4,x,x,x,x,b,o,o,o,b,9

In [ ]:
test_data.replace('x', 1, inplace=True)
test_data.replace('o', 0, inplace=True)
test_data.replace('b', 2, inplace=True)

In [ ]:
test_data.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,Id
0,1,1,1,1,0,0,0,0,1,2
1,1,1,1,1,0,0,2,0,2,4
2,1,1,1,1,0,0,2,2,0,5
3,1,1,1,1,0,2,0,0,2,6
4,1,1,1,1,2,0,0,0,2,9

In [ ]:
xtest = test_data.iloc[:,:9]

In [ ]:
pred_res = rfc.predict(xtest)
pred_res.shape, test_data.shape
pred_res

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0])

# Prepare data to upload

In [ ]:
pred_res = pd.DataFrame({'Id' : test_data.Id, 'class' : pred_res})

In [ ]:
op = pred_res.to_csv("PES1PG22CA151.csv")