In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
del df['User ID']
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [4]:
df.isna().sum()

Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
df['Purchased'].value_counts  #it  has only two classes so it is binary classification

<bound method IndexOpsMixin.value_counts of 0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64>

In [6]:
df.shape

(400, 4)

In [7]:
from sklearn.preprocessing  import LabelEncoder
lr = LabelEncoder()
df['Gender']=lr.fit_transform(df.Gender)

In [8]:
from sklearn.preprocessing import MinMaxScaler
mn = MinMaxScaler()
df['Age'] = mn.fit_transform(df[['Age']])
df['EstimatedSalary'] = mn.fit_transform(df[['EstimatedSalary']])
df.head()

   Gender       Age  EstimatedSalary  Purchased
0       1  0.023810         0.029630          0
1       1  0.404762         0.037037          0
2       0  0.190476         0.207407          0
3       0  0.214286         0.311111          0
4       1  0.023810         0.451852          0

In [9]:
df.columns

Index(['Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [10]:
from sklearn.model_selection import train_test_split
x= df[['Gender', 'Age','EstimatedSalary']]
y = df['Purchased']
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.8,random_state=1,shuffle=True)

In [11]:
from sklearn.linear_model import LogisticRegression
ls = LogisticRegression()
ls.fit(xtrain,ytrain)

LogisticRegression()

In [12]:
ls.coef_, ls.intercept_

(array([[0.02434615, 5.14301686, 2.88472411]]), array([-4.36976959]))

# Model =  e^(0.026 Gender + 4.97 Age + 2.537 Salary - 4.24) / (1 + e^(0.026 Gender + 4.97 Age + 2.537 Salary - 4.24))

In [13]:
ls.classes_

array([0, 1], dtype=int64)

In [14]:
ypred = ls.predict(xtest)

# Draw confusion matrix for evaluating the predicated values

In [15]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest, ypred)

array([[42,  6],
       [ 8, 24]], dtype=int64)

# TASK TO DO: Take input from user and predict the value

In [16]:
df.count()

Gender             400
Age                400
EstimatedSalary    400
Purchased          400
dtype: int64

In [17]:
df.head()

   Gender       Age  EstimatedSalary  Purchased
0       1  0.023810         0.029630          0
1       1  0.404762         0.037037          0
2       0  0.190476         0.207407          0
3       0  0.214286         0.311111          0
4       1  0.023810         0.451852          0

In [18]:
while True:
    # Input Data to predict
    gender = int(input("Choose : 0. Female \t 1. Male"))
    age = int(input("Enter age: "))
    salary = float(input("Enter estimated salary: "))
    
    # Prepare to scale down
    data = {"Gender" : [gender], "Age" : [age], "EstimatedSalary" : [salary]}
    print("Used Input: ", data)
    new_df = pd.DataFrame(data)
    df = pd.concat([df,new_df], ignore_index=True)
    df.reset_index()
    
    # Scale the values for predition
    df['Age'] = mn.fit_transform(df[['Age']])
    df['EstimatedSalary'] = mn.fit_transform(df[['EstimatedSalary']])
    
    # Predict if user purchased
    x = df.iloc[-1:,:3]
    ypred = ls.predict(x)
    print("User Purchased: ",end="") 
    if ypred[0] == 0:  
        print("No") 
    else: 
        print("Yes")
        
    ch = input("Check for new data(y,n): ")
    if(ch == 'n' or ch =='x'):
        break

Choose : 0. Female 	 1. Male1
Enter age: 1
Enter estimated salary: 1
Used Input:  {'Gender': [1], 'Age': [1], 'EstimatedSalary': [1.0]}
User Purchased: Yes
Check for new data(y,n): n

In [19]:
df.tail()

     Gender       Age  EstimatedSalary  Purchased
396       1  0.785714         0.059259        1.0
397       0  0.761905         0.037037        1.0
398       1  0.428571         0.133333        0.0
399       0  0.738095         0.155556        1.0
400       1  1.000000         1.000000        NaN

In [20]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(xtrain,ytrain)

GaussianNB()

In [21]:
yspred = nb.predict(xtest)

In [22]:
from sklearn.metrics import accuracy_score,classification_report
print("Accuracy_score: ",accuracy_score(ytest,yspred))

Accuracy_score:  0.85

In [23]:
df1 = pd.read_csv("fruits.csv")
df1.head()

   Weight  Size   Class
0      69  4.39  orange
1      69  4.21  orange
2      65  4.09  orange
3      72  5.85   apple
4      67  4.70  orange