In [11]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('train.csv')
df.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class,Id
0,x,x,x,x,o,o,x,o,o,0,0
1,x,x,x,x,o,o,o,x,o,0,1
2,x,x,x,x,o,o,o,b,b,0,3
3,x,x,x,x,o,b,o,b,o,0,7
4,x,x,x,x,o,b,b,o,o,0,8

# Preprocessing data

In [5]:
x_train = df.iloc[:, 0:9]
y_train = df['class']
x_train.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,x,x,x,x,o,o,x,o,o
1,x,x,x,x,o,o,o,x,o
2,x,x,x,x,o,o,o,b,b
3,x,x,x,x,o,b,o,b,o
4,x,x,x,x,o,b,b,o,o

x_test = pd.read_csv('test.csv')
x_test.head()

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [10]:
x_test.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,Id
0,2,2,2,2,1,1,1,1,2,2
1,2,2,2,2,1,1,0,1,0,4
2,2,2,2,2,1,1,0,0,1,5
3,2,2,2,2,1,0,1,1,0,6
4,2,2,2,2,0,1,1,1,0,9

# Model Building

In [30]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=200)
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=200)

In [31]:
model.score(x_train,y_train)

1.0

In [32]:
x_test_pred = x_test.iloc[:, 0:9]
x_test_pred.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,2,2,2,2,1,1,1,1,2
1,2,2,2,2,1,1,0,1,0
2,2,2,2,2,1,1,0,0,1
3,2,2,2,2,1,0,1,1,0
4,2,2,2,2,0,1,1,1,0

In [2]:
model.score(xtrain, ytrain), rfc.score(xtest,ytest)
print("Accuracy with Ranfom Forest: ",rfc.score(xtest, ytest) * 100, "%")

NameError: name 'model' is not defined

In [35]:
y_pred.shape

(296,)

In [36]:
y_test_id = x_test['Id']
y_test_id.shape

(296,)

In [37]:
combined = np.vstack((y_test_id, y_pred)).T
combined.shape

(296, 2)

In [38]:
np.savetxt('datathon19.csv', combined, delimiter=',', fmt="%i")

In [39]:
asdf =  pd.read_csv('datathon19.csv')
asdf.head()

    2  0
0   4  0
1   5  0
2   6  0
3   9  0
4  10  0

In [40]:
import csv
with open('datathon19.csv',newline='') as f:
    r = csv.reader(f)
    data = [line for line in r]
with open('datathon19.csv','w',newline='') as f:
    w = csv.writer(f)
    w.writerow(['Id','class'])
    w.writerows(data)

   Id  class
0   2      0
1   4      0
2   5      0
3   6      0
4   9      0